name: $(Major).$(Minor).$(rev:r)  # build numbering format

trigger:
  branches:
    include: [ main ] # branch names which will trigger a build
  paths:
    include: [ /Extensions/WikiUpdater ] # file paths which must match to trigger a build, cannot be a variable

pr: # will trigger on PR
  branches:
    include: [ main ] # branch names which will trigger a build
  paths:
    include: [ /Extensions/WikiUpdater ] # file paths which must match to trigger a build, cannot be a variable

resources:
  repositories: # the test data
    - repository: VSTSBuildTaskValidation
      type: git
      name: VSTSBuildTaskValidation
      branch: master

variables:
  # declared in the pipeline UI
  #  major
  #  minor
  - group:  'WIKIUpdater Extension'
    # this group includes the following variables
    #  ExtensionRoot - working folder
    #  PublisherID  - Marketplace publisher
    #  ExtensionID - Marketplace extension id
    #  vmImage - name of Azure DevOps pool to use
    #  artifactLocationName -  folder the artifact to push is stored in
    #  privateExtentionsTag - tag to show if private (else blank)
    #  taskID - Marketplace ID of task
    #  wikiFilename - name of generated docs files
    #  githubPAT - for testing
    #  AzureDevOpsPAT - for testing
stages:
  - stage: Build
    jobs:
    - job: Build
      pool:
        vmImage: '$(vmImage)'
        demands: npm
      steps:
      # version all the task in the extension
      - task: qetza.replacetokens.replacetokens-task.replacetokens@3
        displayName: 'Setting the version for tasks in extension'
        inputs:
          rootDirectory: '$(Build.SourcesDirectory)/$(ExtensionRoot)'
          targetFiles: '**\\task.json'

      # for each Node based task we must transpile it
      - template: ..\..\YAMLTemplates\build-node-task.yml
        parameters:
          extensionRoot: '$(ExtensionRoot)'
          taskName: 'WikiUpdaterTask'

      # for each Node based task we must transpile it
      - template: ..\..\YAMLTemplates\build-node-task.yml
        parameters:
          extensionRoot: '$(ExtensionRoot)'
          taskName: 'WikiFolderUpdaterTask'

      - task: TfxInstaller@3
        displayName: 'Install Tfx Tool'
        inputs:
          version: 'v0.8.x'

      - task: ms-devlabs.vsts-developer-tools-build-tasks.package-extension-build-task.PackageVSTSExtension@3
        displayName: 'Package and Publish Extension as a PROD Package '
        inputs:
          rootFolder: '$(ExtensionRoot)'
          outputPath: '$(Build.ArtifactStagingDirectory)\\$(artifactLocationName)'
          publisherId: '$(PublisherID)'
          extensionId: '$(ExtensionID)'
          extensionVersion: '$(Build.BuildNumber)'
          updateTasksVersion: true
          extensionVisibility: public

      - task: CopyFiles@2
        displayName: 'Copy Docs'
        inputs:
          SourceFolder: $(ExtensionRoot)
          Contents: |
            readme.md
            vss-extension.json
            **\task\task.json
          TargetFolder: '$(Build.ArtifactStagingDirectory)\\$(artifactLocationName)'

      - task: PublishPipelineArtifact@0
        inputs:
          artifactName: 'vsix'
          targetPath: '$(Build.ArtifactStagingDirectory)\\$(artifactLocationName)'

  - stage: Private
    jobs:
    - deployment: Private_Deployment
      timeoutInMinutes: 0
      environment: 'Azure DevOps Marketplace (Private)'
      pool:
        vmImage: '$(vmImage)'
      strategy:
        runOnce:
          deploy:
            steps:
            # we don't need to DownloadPipelineArtifact as this is done automatically
            - template: ..\..\YAMLTemplates\publish-extension.yml
              parameters:
                 vsixPath: '$(Agent.BuildDirectory)\\$(artifactLocationName)\\$(PublisherID).$(ExtensionID)-$(Build.BuildNumber).vsix'
                 extensionTag: '$(privateExtentionsTag)'
                 extensionVisibility: private

  - stage: Test
    dependsOn: Private
    jobs:
    - deployment: Private_Test_Single_File_Windows
      timeoutInMinutes: 0
      environment: 'Azure DevOps Marketplace (WIKIUpdater)'
      pool:
        vmImage: latest-windows
      strategy:
        runOnce:
          deploy:
            steps:
            - template: .\single-file-test-steps.yml
              parameters:
                platform: windows

    - deployment: Private_Test_Single_File_Linux
      timeoutInMinutes: 0
      environment: 'Azure DevOps Marketplace (WIKIUpdater)'
      pool:
        vmImage: latest-linux
      strategy:
        runOnce:
          deploy:
            steps:
            - template: .\single-file-test-steps.yml
              parameters:
                platform: linux

    - deployment: Private_Test_Single_File_Mac
      timeoutInMinutes: 0
      environment: 'Azure DevOps Marketplace (WIKIUpdater)'
      pool:
        vmImage: latest-macos
      strategy:
        runOnce:
          deploy:
            steps:
            - template: .\single-file-test-steps.yml
              parameters:
                platform: windows

    - deployment: Private_Test_Multi_File
      timeoutInMinutes: 0
      environment: 'Azure DevOps Marketplace (WIKIUpdater)'
      pool:
        #vmImage: '$(vmImage)'
        name: default
      strategy:
        runOnce:
          deploy:
            steps:

            - checkout: VSTSBuildTaskValidation
              clean: false
              fetchDepth: 0
              lfs: false

            - task: WikiFolderUpdaterTask@2
              inputs:
                repo: 'dev.azure.com/richardfennell/GitHub/_git/GitHub.wiki'
                targetFolder: 'folder'
                replaceFile: True
                sourceFolder: '$(Build.SourcesDirectory)/testdata'
                Filter: '**/*.md'
                message: 'Updated as a folder'
                gitname: builduser
                gitemail: 'build@demo'
                useAgentToken: true
                localpath: '$(System.DefaultWorkingDirectory)\azurerepoasagentfolder'

            - task: WikiFolderUpdaterTask@2
              inputs:
                repo: 'https://richardfennell@dev.azure.com/richardfennell/GitHub/_git/GitHub.wiki'
                targetFolder: 'folder'
                replaceFile: True
                sourceFolder: '$(Build.SourcesDirectory)/testdata'
                Filter: '**/*.md'
                message: 'Updated as a folder'
                gitname: builduser
                gitemail: 'build@demo'
                useAgentToken: true
                localpath: '$(System.DefaultWorkingDirectory)\azurerepoasagentfolder'

  - stage: Documentation
    dependsOn: Test
    pool:
      vmImage: '$(vmImage)'
    variables:
    - group: 'WIKI Updater'
    # provides the variable
    #   gitemail - used in the Git Config
    #   gitName - used in the Git Config
    #   githubpat - used to authenticate to repo
    #   user - used to authenticate to repo
    #   repo - url of repo (without HTTPS://)
    jobs:
    - deployment: Documentation
      timeoutInMinutes: 0
      environment: 'Azure DevOps Marketplace (Documentation)'
      pool:
        vmImage: '$(vmImage)'
      strategy:
        runOnce:
          deploy:
            steps:
              - template: ..\..\YAMLTemplates\generate-wiki-docs.yml
                parameters:
                  workingDirectory: '$(Agent.BuildDirectory)/$(artifactLocationName)'
                  wikiFilename: '$(wikiFilename)'
                  repo: '$(repo)'
                  gitname: '$(GitName)'
                  gitemail: '$(GitEmail)'
                  UserName: '$(UserName)'
                  GitHubPat: '$(GitHubPat)'

  - stage: Public
    dependsOn: Documentation
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    jobs:
    - deployment: Public_Deployment
      timeoutInMinutes: 0
      environment: 'Azure DevOps Marketplace (Public)'
      pool:
        vmImage: '$(vmImage)'
      strategy:
        runOnce:
          deploy:
            steps:
              # we don't need to DownloadPipelineArtifact as this is done automatically
              - template: ..\..\YAMLTemplates\publish-extension.yml
                parameters:
                   vsixPath: '$(Agent.BuildDirectory)\\$(artifactLocationName)\\$(PublisherID).$(ExtensionID)-$(Build.BuildNumber).vsix'
                   extensionTag: ''
                   extensionVisibility: public

    - job: Post_Publish
      dependsOn: Public_Deployment
      variables:
      - group: socialMedia
      pool:
        vmImage: '$(vmImage)'
      steps:
        - template: ..\..\YAMLTemplates\post-publish.yml
          parameters:
            buildNumber: $(Build.BuildNumber)
            extensionName: $(Build.DefinitionName)
            socialmediaLogicAppURL: $(socialmediaLogicAppURL)