name: $(Major).$(Minor).$(rev:r)  # build numbering format

trigger: 
  branches:
    include: [ master ] # branch names which will trigger a build
  paths:
    include: [ /Extensions/BuildUpdating ] # file paths which must match to trigger a build, cannot be a variable

pr: # will trigger on PR
  branches:
    include: [ master ] # branch names which will trigger a build
  paths:
    include: [ /Extensions/BuildUpdating ] # file paths which must match to trigger a build, cannot be a variable

variables:
  # declared in the pipeline UI
  #  major
  #  minor
  - group:  'BuildUpdating Extension'
    # this group includes the following variables  
    #  ExtensionRoot - working folder
    #  PublisherID  - Marketplace publisher
    #  ExtensionID - Marketplace extension id
    #  vmImage - name of Azure DevOps pool to use
    #  artifactLocationName -  folder the artifact to push is stored in
    #  privateExtentionsTag - tag to show if private (else blank)
    #  taskID - Marketplace ID of task
    #  wikiFilename - name of generated docs files
    #  githubPAT - for testing
    #  AzureDevOpsPAT - for testing
stages:
  - stage: Build
    jobs:
    - job: Build
      pool: 
        vmImage: '$(vmImage)'
        demands: npm
      steps:
      # version all the task in the extension
      - task: qetza.replacetokens.replacetokens-task.replacetokens@3
        displayName: 'Setting the version for tasks in extension'
        inputs:
          rootDirectory: '$(Build.SourcesDirectory)/$(ExtensionRoot)'
          targetFiles: '**\\task.json'
      
      # for each Node based task we must transpile it
      - template: ..\..\YAMLTemplates\build-node-task.yml
        parameters:
          taskPath: '$(ExtensionRoot)\BuildVariableTask'
          taskName: 'BuildVariableTask'

      - template: ..\..\YAMLTemplates\build-node-task.yml
        parameters:
          taskPath: '$(ExtensionRoot)\BuildRetensionTask'
          taskName: 'BuildRetensionTask'

      - template: ..\..\YAMLTemplates\build-node-task.yml
        parameters:
          taskPath: '$(ExtensionRoot)\GetBuildDefinitionVariableValueTask'
          taskName: 'GetBuildDefinitionVariableValueTask'

      - task: TfxInstaller@1
        displayName: 'Install Tfx Tool'
        inputs:
          version: 'v0.6.x'

      - task: ms-devlabs.vsts-developer-tools-build-tasks.package-extension-build-task.PackageVSTSExtension@1
        displayName: 'Package and Publish Extension as a PROD Package '
        inputs:
          rootFolder: '$(ExtensionRoot)'
          outputPath: '$(Build.ArtifactStagingDirectory)\\$(artifactLocationName)'
          publisherId: '$(PublisherID)'
          extensionId: '$(ExtensionID)'
          extensionVersion: '$(Build.BuildNumber)'
          updateTasksVersion: true
          extensionVisibility: public

      - task: CopyFiles@2
        displayName: 'Copy Docs'
        inputs:
          SourceFolder: $(ExtensionRoot)
          Contents: |
            readme.md
            vss-extension.json
            **\task\task.json
          TargetFolder: '$(Build.ArtifactStagingDirectory)\\$(artifactLocationName)'

      - task: PublishPipelineArtifact@0
        inputs:
          artifactName: 'vsix'
          targetPath: '$(Build.ArtifactStagingDirectory)\\$(artifactLocationName)'

  - stage: Private
    jobs:
    - deployment: Private_Deployment
      timeoutInMinutes: 0
      environment: 'Azure DevOps Marketplace (Private)'
      pool:
        vmImage: '$(vmImage)'
      strategy:
        runOnce:
          deploy:
            steps:
            # we don't need to DownloadPipelineArtifact as this is done automatically
            - template: ..\..\YAMLTemplates\publish-extension.yml
              parameters:
                 vsixPath: '$(Agent.BuildDirectory)\\$(artifactLocationName)\\$(PublisherID).$(ExtensionID)-$(Build.BuildNumber).vsix'  
                 extensionTag: '$(privateExtentionsTag)' 
                 extensionVisibility: private    

  - stage: Test_Builds
    displayName: "Tests - Builds"
    dependsOn: Private 
    jobs:
    - job: Start_Lab_VM
      dependsOn: Public_Deployment 
      pool:
        vmImage: '$(vmImage)'
      steps:
        - task: richardfennellBM.BM-VSTS-DevTestLab-DEV.DevTestLabsStartVm.DevTestLabsStartVm@1
          displayName: 'Start a DevTest Labs VM'
          inputs:
            ConnectedServiceName: 'MVP Visual Studio Ultimate with MSDN (48b5a96e-e215-4db3-a0a9-8aba2c331922)'

    - deployment: Private_Test
      timeoutInMinutes: 0
      environment: 'Azure DevOps Marketplace (BuildUpdating)'
      pool:
        vmImage: '$(vmImage)'
      strategy:
        runOnce:
          deploy:
            steps:
              - task: benjhuser.tfs-extensions-build-tasks.trigger-build-task.TriggerBuild@3
                displayName: 'Trigger a new build of Validate-BuildVariable Update'
                inputs:
                  buildDefinition: 'Validate-BuildVariable Update'
                  useSameBranch: false
                  branchToUse: master
                  waitForQueuedBuildsToFinish: true
                  authenticationMethod: 'OAuth Token'
              - task: benjhuser.tfs-extensions-build-tasks.trigger-build-task.TriggerBuild@3
                displayName: 'Trigger a new build of Validate-BuildUtilsWithVariableGroup'
                inputs:
                  buildDefinition: 'Validate-BuildUtilsWithVariableGroup'
                  useSameBranch: false
                  branchToUse: master
                  waitForQueuedBuildsToFinish: true
                  authenticationMethod: 'OAuth Token'

  - stage: Test_Release
    displayName: "Tests - Release"
    dependsOn: Private 
    jobs:
    - deployment: Private_Test
      timeoutInMinutes: 0
      environment: 'Azure DevOps Marketplace (BuildUpdating)'
      pool:
        vmImage: '$(vmImage)'
      strategy:
        runOnce:
          deploy:
            steps:
              - task: DownloadBuildArtifacts@0
                inputs:
                  buildType: 'specific'
                  project: github
                  definition: Validate-BuildUtils
                  downloadType: 'single'
                  artifactName: 'drop'
                  downloadPath: '$(System.ArtifactsDirectory)'
              - task: DownloadBuildArtifacts@0
                inputs:
                  buildType: 'specific'
                  project: github
                  definition: 'Validate-BuildUtils Duplicate'
                  downloadType: 'single'
                  artifactName: 'drop'
                  downloadPath: '$(System.ArtifactsDirectory)'

              - task: richardfennellBM.BM-VSTS-BuildUpdating-Tasks-DEV.BuildRetension-Task.BuildRetensionTask@1
                displayName: 'Update Build Retension - Set'
                inputs:
                  mode: NamedArtifacts
                  artifacts: 'Validate-BuildUtils, Validate-BuildUtils Duplicate'
              - task: richardfennellBM.BM-VSTS-BuildUpdating-Tasks-DEV.BuildVariableTask-Task.BuildVariableTask@1
                displayName: 'Update Build Variable'
                inputs:
                  buildmode: NamedArtifacts
                  artifacts: 'Validate-BuildUtils, Validate-BuildUtils Duplicate'
                  variable: Minor
                  mode: Autoincrement
              - task: richardfennellBM.BM-VSTS-BuildUpdating-Tasks-DEV.GetBuildDefinitionVariableValueTask-Task.GetBuildDefinitionVariableValueTask@1
                displayName: 'Get Build Definition Variable'
                inputs:
                  builddefinitionname: 'Validate-BuildVariable Update'
                  variable: var1
                  localVariable: toUpdate
              - task: richardfennellBM.BM-VSTS-BuildUpdating-Tasks-DEV.BuildRetension-Task.BuildRetensionTask@1
                displayName: 'Update Build Retension - Reset'
                inputs:
                  mode: NamedArtifacts
                  artifacts: 'Validate-BuildUtils, Validate-BuildUtils Duplicate'
                  keepForever: false


  - stage: Documentation
    dependsOn: |
      Test_Builds
      Test_Release
    pool:
      vmImage: '$(vmImage)'
    variables:
    - group: 'WIKI Updater'
    # provides the variable
    #   gitemail - used in the Git Config
    #   gitName - used in the Git Config
    #   githubpat - used to authenticate to repo
    #   user - used to authenticate to repo
    #   repo - url of repo (without HTTPS://)
    jobs:
    - deployment: Documentation
      timeoutInMinutes: 0
      environment: 'Azure DevOps Marketplace (BuildUpdating)'
      pool:
        vmImage: '$(vmImage)'
      strategy:
        runOnce:
          deploy:   
            steps:
              - template: ..\..\YAMLTemplates\generate-wiki-docs.yml
                parameters:
                  workingDirectory: '$(Agent.BuildDirectory)/$(artifactLocationName)'
                  wikiFilename: '$(wikiFilename)'
                  repo: '$(repo)'
                  gitname: '$(GitName)'
                  gitemail: '$(GitEmail)'
                  UserName: '$(UserName)'
                  GitHubPat: '$(GitHubPat)'

  - stage: Public
    dependsOn: Documentation
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))
    jobs:
    - deployment: Public_Deployment
      timeoutInMinutes: 0
      environment: 'Azure DevOps Marketplace (Public)'
      pool:
        vmImage: '$(vmImage)'
      strategy:
        runOnce:
          deploy:
            steps:
              # we don't need to DownloadPipelineArtifact as this is done automatically
              - template: ..\..\YAMLTemplates\publish-extension.yml
                parameters:
                   vsixPath: '$(Agent.BuildDirectory)\\$(artifactLocationName)\\$(PublisherID).$(ExtensionID)-$(Build.BuildNumber).vsix'  
                   extensionTag: '' 
                   extensionVisibility: public    

    - job: Post_Publish
      dependsOn: Public_Deployment 
      pool:
        vmImage: '$(vmImage)'
      steps:
      
      - task: richardfennellBM.BM-VSTS-ArtifactDescription-Tasks-DEV.ArtifactDescriptionTask.ArtifactDescriptionTask@1
        displayName: 'Get Git Artifact PR Reason'
        inputs:
          OutputText: 'OutputedText'
      
      - task: petergroenewegen.PeterGroenewegen-Xpirit-Vsts-Release-Twitter.Xpirit-Vsts-Release-Twitter.Twitter@1
        displayName: 'Send Tweet about new release'
        inputs:
          TwitterEndPoint: 'Twitter Richard'
          Message: 'I have just released Version $(Build.BuildNumber) of my Azure DevOps Pipeline $(Build.DefinitionName) http://bit.ly/VSTS-RF $(OutputedText) '
  
      - task: richardfennellBM.BM-VSTS-BuildUpdating-Tasks-DEV.BuildVariableTask-Task.BuildVariableTask@1
        displayName: 'Update Build Variable'
        inputs:
          variable: Minor
          mode: Autoincrement
          usedefaultcreds: false
                